body {
    background-color: rgb(227, 230, 233);
}

h1 {
    text-align: center;
    color: rgb(45, 75, 110);
}

h3 {
    color: rgb(31, 30, 30);
}

.centro{
    text-align: center;
}

fieldset {
    border-style: solid;
    border-width: 4px;
    border-color: rgb(45, 75, 110);
}

.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(45, 75, 110);
    background-color: rgb(227, 230, 233);
    border-radius: 6px;
    border: 2px solid rgb(31, 30, 30);
  }

  .boton:hover{
    color: rgb(45, 75, 110);
    background-color: #ffffff;
  }

  div{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin: auto;
  }